<%- include('../partials/head.ejs') %>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
            <h1 class="display-3">I am <strong><%= lodash.upperCase(name) %></strong></h1>
            <p class="lead">This application is built on Embedded JavaScript (EJS) and Express.js, with Node.js being the technology
                of choice for
                the backend.
            </p>
            <div class="container container-fluid">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-warning streched-link"><a href="/sign-in">SIGN IN</a></button>
                    </div>
                    <div class="col">
                        <button class="btn btn-warning streched-link"><a href="/sign-up">SIGN UP</a></button>
                    </div>
                </div>
            </div>
    </div>
</div>


<%- include('./Form.ejs') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">BLOGS
        </h1>
        <hr />
        <% if (blogs.length < 1) { %>
            <h1 class="display-5">NO BLOGS TO SHOW</h1>
        <% } else { %>
            <% blogs.forEach(blog => { %>
                <h3 class="display-4"><%= blog.title %></h3>
                <% users.forEach(user => { %>
                    <% if (user.username === blog.user) { %>
                        <p class="text-muted">By <strong><%= user.name %></strong></p>
                    <% } %>
                <% }) %>
                <% dynamicBlogPreview(blog.preview) %>
                <% 10/0 %>
                <%- include('./DynamicReqBlogPreview') %>
                <p><button class="btn btn-danger streched-link"><a href="<%= lodash.kebabCase(blog.user) %>/<%= blog.url %>"
                        style="color: white; text-decoration: none;">Read More</a></button></p>
                <% if (blog.user==currentUser){ %>
                    <form action="/delete-request/<%= lodash.kebabCase(blog.user) %>/<%= blog.url %>" method="post">
                        <button type="submit" class="btn btn-warning">DELETE</button>
                    </form>
                <% } %>
            <% }) %>
        <% } %>



    </div>
</div>


